:root {
    --primary-color: #941100;
    --secondary-color: #E6B34F;
    --accent1-color: #4B7F3D;
    --accent2-color: #2E2017;
    --heading-font: "Caesar Dressing", sans-serif;
    --body-font: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent2-color);
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
    z-index: 1;
    box-shadow: 0 5px 10px rgb(0 0 0 / 50%);
}

header .logo{
    padding: 10px;
}

header, main, footer {
    min-width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    padding: 0.5rem;
}

nav{
    display: flex;
    width: 100%;
}

header a{
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 1.5rem;
    flex: 1 1 auto;
    margin: 0.5rem;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 50px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 1.5rem;
    color: var(--secondary-color);
    padding: 1rem;
    width: 100%;
    text-align: center;
}

.hero article {
    left: 20%;
    position: absolute;
    bottom: 50px;
    background-color: var(--accent1-color);
    width: 60%;
    height: 200px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 5px 10px rgb(0 0 0 / 50%);
}

.hero article img {
    float: right;
    height: 100%;
    width: auto;
    border-radius: 10px;
    margin-left: 10px;
}

.hero article p{
    margin-top: 3%;
    font-size: 2vw;
    padding: 0;
    margin-left: 7px;
    height: 100%;
    color: var(--secondary-color)
}

.history {
    display: grid;
    padding: 0 50px 40px 50px;
    min-height: 400px;
    background-color: var(--secondary-color);
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    text-align: center;
}

.history h2{
    grid-column: 1 / 4;
    height: auto;
}

.history img{
    width: 40%;
    height: auto;
}

.history p{
    color: var(--primary-color);
    font-size: 1.2rem;
}

.adventure{
    padding: 30px;
    background-color: var(--primary-color);
    height: 400px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.adventure h2{
    align-self: flex-start;
    position: absolute;
    color: var(--secondary-color);
}

.adventure img{
    object-fit: cover;
    height: 25vh;
    max-width: 16vw;
}

.adventure figure{
    display: flex;
    flex-flow: column;
    margin: 10px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 50%);
}

.adventure figcaption{
    max-width: 16vw;
    background-color: var(--secondary-color);
    text-align: center;
    font-size: 1rem;
    padding: 8px;
    font-weight: 900;
    color: var(--primary-color);
    font-family: var(--heading-font);
    font-style: italic;
}

footer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    background-color: var(--accent2-color);
}

footer p{
    color: var(--secondary-color);
    font-style: italic;
    position: absolute;
}

footer nav{
    grid-column-start: 4;
}

footer nav a{
    margin: 3px;
}

.team_map{
    margin-top: 110px;
    padding: 30px 40px 30px 30px;
    background-color: var(--primary-color);
    height: 400px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.team_map h2{
    color: var(--secondary-color);
}

.team p{
    color: var(--secondary-color);
    position: absolute;
    margin: 10px 90px 70px 70px;
}

.team{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.team img{
    object-fit: cover;
    height: 40vh;
    max-width: 17vw;
}

.team figure{
    display: flex;
    flex-flow: column;
    margin: 10px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 50%);
}

.team figcaption{
    max-width: 100%;
    background-color: var(--secondary-color);
    text-align: center;
    font-size: 1rem;
    padding: 8px;
    font-weight: 900;
    color: var(--primary-color);
    font-family: var(--heading-font);
    font-style: italic;
}

.employees {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.map{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 0.5px solid var(--secondary-color);
}

.map p {
    color: var(--secondary-color);
    font-style: italic;
    text-decoration: underline;
}

.map iframe {
    border:0;
    box-shadow: 0 5px 10px rgb(0 0 0 / 50%);
}

.formulary {
 padding: 30px;
 background-color: var(--secondary-color);
}

.formulary h1{
    margin-bottom: 30px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
    background-color: var(--primary-color);
    box-shadow: 0 5px 10px rgb(0 0 0 / 50%);
}

fieldset {
    padding: 1rem;
    place-items: end;
}

fieldset legend {
    color: var(--secondary-color);
    font-size: 1.5rem;
    padding: 10px;
    font-weight: 900;
    font-style: italic ;
    font-family: var(--heading-font);
}

label{
    padding-right: 10px;
    color: var(--secondary-color);
}

.contact {
    padding: 10px;
}

.contact input{
    margin: 5px 0 15px 0;
    padding: 5px;
}

.contact label{
    font-style: italic;
    font-weight: 900;
    font-family: var(--heading-font);
}

input{
    width: 100%;
    height: 25px;
}

select {
    width: 100%;
    height: 25px;
}

input[type="checkbox"] {
    width: 30px;
    height: 30px;
    justify-self: start;
}

textarea {
    width: 100%;
    height: 70px;
    grid-column: 1 / 3;
    padding: 10px;
}

button {
    margin: 0 auto;
    margin-top: 10px;
    width: 30%;
    min-width:30px;
    height: 30px;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    font-weight: 900;
    border: 0;
    box-shadow: 0 5px 10px rgb(0 0 0 / 50%);
}

button:hover {
    background-color: rgb(12, 41, 10);
    box-shadow: none;
}

footer {
    border-top: 1px solid rgb(87, 87, 87);
    padding: 10px;
    text-align: center;
}

.radio_options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: 40px;
}

.radio_options p {
    text-align: center;
    grid-column: 1 / 7;
    width: 100%;
    font-style: italic;
    font-weight: 900;
    color: var(--secondary-color);
    font-family: var(--heading-font);
}

.radio_options input{
    justify-content: right;
    width: 40px;
}

.radio_options label{
    text-align: left;
}

.message {
    text-align: center;
    width: 100%;
}

.message label {
    font-style: italic;
    font-weight: 900;
    font-family: var(--heading-font);
}

textarea {
    margin-top: 10px;
}

.subscribe {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
}

input[type="checkbox"]{
    width: 25px;
}

.trips{
    margin-top: 110px;
    padding: 80px 130px 80px 130px;
    background-color: var(--primary-color);
    max-width: 100%;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.trips h2{
    align-self: flex-start;
    position: absolute;
    color: var(--secondary-color);
    justify-self: center;
    top: 140px;
}

.trips img{
    object-fit: cover;
    height: 88%;
    width: 16vw;
    margin: 10px;
}

.trips figure{
    padding: 16px;
    height: 200px;
    display: flex;
    flex-flow: row;
    margin: 10px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 50%);
    background-color: var(--secondary-color);
}

.trips figcaption{
    max-width: 16vw;
    background-color: var(--secondary-color);
    font-size: 1.2rem;
    padding: 8px;
    font-weight: 900;
    color: var(--primary-color);
    font-family: var(--heading-font);
    font-style: italic;
}

figcaption p{
    font-family: var(--body-font);
    font-size: 0.8rem;
    padding: 8px 0 0 0;
}

#trip3 {
    grid-column: 1/3;
    height: 300px;
}

#trip3 img{
    height: 90%;
    width: 50%;
}

#trip3 figcaption{
    font-size: 2rem;
}

#trip3 figcaption p{
    font-family: var(--body-font);
    font-size: 1rem;
    padding: 8px 0 0 0;
    width: 30vw;
}

.table {
    min-height: 400px;
    background-color: var(--secondary-color);
    text-align: center;
    padding-top: 30px;
}

.table h2{
    grid-column: 1 / 4;
    height: auto;
}

.table{
    color: var(--primary-color);
    font-size: 1.2rem;
}

table{
    display: block;
    margin: 30px auto 30px auto;
    width: 80%;
}

table, th, td{
    border: 1px solid var(--accent2-color);
    border-collapse: collapse;
}

th, td{
    padding: 10px;
}

th{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.floating-button {
    background-color: var(--accent1-color);
    position: fixed;
    z-index: 9;
    bottom: 30px;
    left: 30px;
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 900;
    padding: 25px;
    border: 1.5px solid var(--accent2-color);
    border-radius: 50px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 50%);
}

.home {
    position: relative;
    margin-top: 110px;
}

.home a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 30px;
    font-size: 2rem;
    border-radius: 50px;
    border: 1.5px solid var(--accent2-color);
    box-shadow: 0 5px 10px rgb(0 0 0 / 50%);
}

.home img{
    height: 500px;
    object-fit: cover;
}

.services{
    padding: 30px;
    background-color: var(--primary-color);
    height: 400px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.services img{
    object-fit: cover;
    height: 40vh;
    max-width: 30vw;
}

.services figure{
    display: flex;
    flex-flow: column;
    margin: 10px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 50%);
}

.services figcaption{
    max-width: 100%;
    background-color: var(--secondary-color);
    text-align: center;
    font-size: 1.7rem;
    padding: 8px;
    font-weight: 900;
    color: var(--primary-color);
    font-family: var(--heading-font);
    font-style: italic;
}

.newsletter {
    display: grid;
    padding: 40px 50px 40px 50px;
    min-height: 400px;
    background-color: var(--secondary-color);
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    text-align: center;
}

.neweletter h2{
    grid-column: 1 / 4;
    height: auto;
}

.newsletter img{
    position: relative;
    width: 600px;
    height: auto;
    margin-left: 30%;
}

.newsletter p{
    color: var(--secondary-color);
    font-size: 1.2rem;
}

.news{
    width: 35vw;
    left: 50%;
    position: absolute;
}

.news legend {
    padding: 0;
}

.user-info input{
    margin: 5px 0 15px 0;
}

.user-info label{
    font-style: italic;
    font-weight: 900;
    font-family: var(--heading-font);
}

.news p{
    margin-bottom: 9px;
}