:root{
    --main-color: rgb(58, 71, 184);
    --sub-color: rgb(114, 126, 196);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
background-color: var(--main-color);
    padding: 10px;
}

nav a{
    color: white;
    display: block;
    padding: 20px;
}

h1{
    color: var(--main-color);
    margin: 1rem;
}

main img{
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    margin: 0 0 1rem 1rem;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p{
    margin: 1rem;
    padding: 0;
}

main{
    max-width: 840px;
}

main ul{
    clear: both;
}

aside{
    width: 25rem;
    text-align: center;
    position: relative;
}

aside img{
    max-width: 20em;
    height: auto;
}

aside h2{
    position: absolute;
    top: 9rem;
    left: 5.5rem;
}

footer{
    margin-top: 2rem;
    border-top: 2px dotted black;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 10%);
    padding: 1rem;
    background-color: var(--sub-color);
    color: white;

}

